<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search Result</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <link rel="stylesheet" href="/style_sheets/style.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="btn-group" role="group">
          <a href="/"><button type="button" class="btn btn-default">Home</button></a>
          <a href="/new"><button type="button" class="btn btn-default">New Books</button></a>
        </div>
      </div>
      <div class="col-xs-6">
        <form action="/search">
          <label for="search" method="GET">Search:</label>
          <input type="text" id="search" name="search">
          <input type="submit">
        </form>
      </div>
    </div>
  </div>  
</div>
<div class="container">
<div class="row">
  <div class="col-xs-6">
   <%bookData.forEach(function(results){%>
     <div><%=results.volumeInfo.title%></div>
     <div><%=results.volumeInfo.authors[0]%></div>
     <div><%=results.volumeInfo.publishedDate%></div>
     <div><%=results.volumeInfo.industryIdentifiers[0].identifier%></div>
   <form action="/library" method="POST">
    <input type="submit" value="Buy">
    <input type="hidden" name="book[title]" value="<%=bookData[0].volumeInfo.title%>">
    <input type="hidden" name="book[author]" value="<%=bookData[0].volumeInfo.authors[0]%>">
    <input type="hidden" name="book[year]" value="<%=bookData[0].volumeInfo.publishedDate%>" >
   </form>
   <%})%>
   </div>
    </div>
  </div>
</body>
</html>
